/* --- Footer --- */
.main-footer {
    background-color: #000;
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid var(--border-color);
}
.main-footer p {
    color: var(--medium-text);
    font-size: 0.9rem;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: var(--medium-text);
    margin: 0 10px;
    text-decoration: none;
}